{% extends "base.html" %}

{% block title %}About - SQLSheild{% endblock %}

{% block body_class %}about-page{% endblock %}

{% block content %}
<div class="about-container">
    <center><h1>About SQLSheild</h1></center>
    <form>
    <p>SQLSheild is a website designed to detect SQL injection attacks. It provides a comprehensive solution for identifying and mitigating SQL injection vulnerabilities in your web applications. Our system uses advanced patterns to analyze SQL queries and classify them as either legitimate or malicious. SQL injection is a common and dangerous attack vector that can compromise the security of your data and systems. By using SQLSheild, you can protect your applications and ensure that your data remains safe. We are committed to helping developers and security professionals safeguard their applications from SQL injection threats. Our platform is easy to use and integrates seamlessly with your existing systems.</p>
</form>
</div>
{% endblock %}
