<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SQLShield - A SQL Injection Attack Detector{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="{% block body_class %}default-page{% endblock %}">
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">SQLShield</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/predictor">Predictor</a></li>
                    <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="content container mt-4">
            {% block content %}
            {% endblock %}
        </div>
        
        <!-- Footer -->
<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <p>Contact me at:</p>
        <p>
            Email: <a href="mailto:mbalashanmukh@gmail.com">Gmail</a>
            Phone: +91 6301822881
            LinkedIn: <a href="https://www.linkedin.com/in/bala-shanmukh-608a4b230/" target="_blank">LinkedIn</a>
            GitHub: <a href="https://github.com/BSG1401" target="_blank">Github</a>
        </p>
        <p>&copy; 2024 Bala Shanmukh. All Rights Reserved.</p>
    </div>
</footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
